sudo: true

env:
  global:
    - AWS_ACCESS_KEY_ID=AKIAIYAXFUAHXOWP2MJA
    # AWS_SECRET_ACCESS_KEY
    - secure: "SQJfdelxmKE2ogwmgyh3lzedBxf/Qg17mlSWKGmdYaXAfjWDS5+wjzz92Mo29GVF4iucKrEFfTTA8/eTuXeJHvx2J/GeUY4TiINAeWT/CVrzSqzaIX0/Xu72438/fE3BrhwbFokKIwKBQjYJjHuqhKFCxpBqto5R+a3zj2WZtR9LT3kaN4Usm3izOBoZqgnlRsIzV1ZHX2q6jhYbqvi9dLburwEsbwq9txTyt/+HkJI870Ojomom9duYEMGWs7xANyzLHCLdqEXlk1FWurhJlCF7B9kI4e7EDHysujI4+28o4TL/5aq1WQ6yRIYE7MYdFzVRboWI5ZMWw6vIKGDwRxOKLnJ679cF4T3Us+F/DUg7spGSs/bg/Sqh2oVK0T8sNvK/jIv9CtUUKql5Nu1e6JHVc3S+vo2jDDjj6eKFiVyKhFy/yZaTmYSZJM4CqeHYevPOQrYTqiMS3T56e1p5RDROqo6cA+ZpdDY1ubheuj9xS8NiXcpcLQLsK/9qZQbZyKBhV24g0JbzYXUXyt0jAXjEzioHy+dCocjbDeL1KW4651zPQVltPNqF1VqTkthbScRPCkwVr5knF5qhdLfH50BMJueyW6hqAUh47LjBM0Z++RdZ8ITykUm5kS/hDclkHOb3sTv5SQ+g3y/cAlmojb0j+m7G81glJfbUB7n7Po4="

jobs:
  include:
    - stage: Tests
      name: Unit Tests
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable)$/ OR type = cron
      language: node_js
      node_js: 8

      before_install:
        - sudo sysctl -w vm.max_map_count=262144
        - sudo sysctl -w fs.inotify.max_user_watches=524288

      script:
        # Run tests
        - npm install --unsafe-perm && npm test

    - stage: Tests
      name: Dead link check
      if: type = pull_request OR type = push AND branch =~ /^master|[0-9]+-(dev|stable)$/ OR type = cron

      before_script:
        - npm run doc-prepare
        - npm run --prefix doc/framework clone-repos
      script:
        - gem install typhoeus
        - HYDRA_MAX_CONCURRENCY=20 npm run --prefix doc/framework dead-links

    - stage: Deployment Doc Dev
      name: Deploy next-docs.kuzzle.io
      if: branch = 1-dev
      language: node_js
      node_js: 10
      env:
        - NODE_ENV=production
        - S3_BUCKET=docs-next.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E2ZCCEK9GRB49U
        - AWS_DEFAULT_REGION=us-west-2

      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm run doc-prepare
        - npm run doc-build

      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          branch: 1-dev

      after_deploy:
        - npm run doc-cloudfront

    - stage: Deployment Doc Prod
      name: Deploy docs.kuzzle.io
      if: branch = master
      language: node_js
      node_js: 10
      env:
        - NODE_ENV=production
        - S3_BUCKET=docs.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E3D6RP0POLCJMM
        - AWS_DEFAULT_REGION=us-west-2

      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm run doc-prepare
        - npm run doc-build

      deploy:
        provider: script
        script:
          - npm run doc-upload
        skip_cleanup: true
        on:
          branch: master

      after_deploy:
        - npm run doc-cloudfront
