version: '3'

services:
  kuzzle:
    image: kuzzleio/plugin-dev:1
    command: /run-dev.sh
    volumes:
      - "./docker/run-dev.sh:/run-dev.sh"
      - "./docker/install-plugins.sh:/install-plugins.sh"
      - "./docker/pm2.json:/config/pm2.json"
      - "./config:/var/app/config"
      - "./config/kuzzlerc:/etc/kuzzlerc"
      - ".:/var/app/plugins/enabled/kuzzle-plugin-s3"
    cap_add:
      - SYS_PTRACE
    ulimits:
      nofile: 65536
    sysctls:
      - net.core.somaxconn=8192
    depends_on:
      - redis
      - elasticsearch
    ports:
      - "9229:9229"
      - "7512:7512"
    environment:
      - kuzzle_services__db__client__host=http://elasticsearch:9200
      - kuzzle_services__internalCache__node__host=redis
      - kuzzle_services__memoryStorage__node__host=redis
      - NODE_ENV=development
      - DEBUG=kuzzle:plugins
      - KUZZLE_VAULT_KEY=${KUZZLE_VAULT_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

  redis:
    image: redis:5

  elasticsearch:
    image: kuzzleio/elasticsearch:5.6.10
    ulimits:
      nofile: 65536
    environment:
      - cluster.name=kuzzle
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
